@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
}
.header2 {
  padding-bottom: 7px;
  /* margin-left: 35px; */
}

.sidebar-img {
  width: 40px;
}


.sidebar-title {
  font-family: "Major Mono Display", monospace;
  font-weight: bolder;
  font-style: normal;
  font-size: 25px;
}

h3 {
  font-size: 16px;
}

.applications-logo {
  width: 26px;
}

button {
  margin-left: 10px;
}

.header {
  position: absolute;
  padding-left: 350px;
}



/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
